
body{
  --main-bg: #EBEBEB;
  --white: #ffffff;
  --box-shad-color: #d1d1d2;
  --box-color:#f83d61;
  --hover-color:#f3e9eb;
  background-color: var(--main-bg);
}


* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

 
